<c8y-title>{{ "Microservice Configuration" | translate }}</c8y-title>
<div [formGroup]="form" *ngIf="productCategoryList && microserviceCategoryList">
  <div class="col-md-6 col-sm-12 col-xs-12">
    <div class="card">
      <div class="card-header separator">
        <h4 class="card-title">{{ "Product Categories" | translate }}</h4>
      </div>
      <div class="card-body">
        <table class="table" style="margin: 10px; width: auto;">
          <thead>
            <tr>
              <th>{{'Product Category' | translate}}</th>
              <th>{{'CPU threshold (CPU)' | translate}}</th>
              <th>{{'Memory threshold (GiB)' | translate}}</th>
              <th>{{'Microservices' | translate}}</th>
            </tr>
          </thead>
          <tbody formArrayName="productCategoryList">
            <ng-container *ngFor="
                  let categoryForm of productCategoryList.controls;
                  let index = index
                ">
              <tr [formGroup]="categoryForm">
                <td>
                  <div *ngIf="!categoryForm.value.isEditable">
                    {{ categoryForm.value.productCategory }}
                  </div>
                  <div *ngIf="categoryForm.value.isEditable">
                    <input type="text" class="form-control" formControlName="productCategory" />
                    <c8y-messages *ngIf="
                        categoryForm.controls.productCategory.touched &&
                        categoryForm.controls.productCategory.invalid &&
                        categoryForm.controls.productCategory.errors
                      ">
                      <c8y-message>{{
                        getErrorMessage(
                        categoryForm.controls.productCategory.errors
                        ) | translate
                        }}</c8y-message>
                    </c8y-messages>
                  </div>
                </td>
                <td>
                  <ng-container *ngIf="categoryForm.value.productCategory === 'Product Services'">
                    <span class="text-muted">{{'Not Applicable' | translate}}</span>
                  </ng-container>
                  <ng-container *ngIf="categoryForm.value.productCategory !== 'Product Services'">
                    <input type="number" class="form-control" min="0" required formControlName="cpuThreshold" />
                    <c8y-messages *ngIf="
                    categoryForm.controls.cpuThreshold.touched &&
                    categoryForm.controls.cpuThreshold.invalid &&
                    categoryForm.controls.cpuThreshold.errors
                  ">
                      <c8y-message>{{
                        getErrorMessage(
                        categoryForm.controls.cpuThreshold.errors
                        ) | translate
                        }}</c8y-message>
                    </c8y-messages>
                  </ng-container>

                </td>
                <td>
                  <ng-container *ngIf="categoryForm.value.productCategory === 'Product Services'">
                    <span class="text-muted">{{'Not Applicable' | translate}}</span>
                  </ng-container>
                  <ng-container *ngIf="categoryForm.value.productCategory !== 'Product Services'">
                    <input type="number" class="form-control" min="0" required formControlName="memoryThreshold" />
                    <c8y-messages *ngIf="
                    categoryForm.controls.memoryThreshold.touched &&
                    categoryForm.controls.memoryThreshold.invalid &&
                    categoryForm.controls.memoryThreshold.errors
                  ">
                      <c8y-message>{{
                        getErrorMessage(
                        categoryForm.controls.memoryThreshold.errors
                        ) | translate
                        }}</c8y-message>
                    </c8y-messages>
                  </ng-container>
               
                </td>
                <td style="float:right">
                  <div class="prod-cat-cont-item">
                    <div>
                      <span [class]="getBadgeClass(categoryForm.value.categoryType)">{{
                        getMicroserviceCount(categoryForm.value.productCategory)
                        }}</span>
                    </div>
                    <div class="prod-cancel" [ngClass]="{
                        'hide-item': showDeleteOption(
                          categoryForm.value.categoryType
                        )
                      }">
                      <i c8yicon="minus-circle" class="m-l-4 dlt-c8y-icon-minus-circle text-danger pointer"
                        (click)="onRemoveProductCategory(index)"></i>
                    </div>
                  </div>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>

      </div>
      <div class="card-footer separator mob">
        <button class="btn btn-default" (click)="onCancelProductCategories()">
          <i c8yicon="close" class="m-r-4 dlt-c8y-icon-close"></i> Cancel
        </button>
        <button class="btn btn-primary" (click)="onResetProductCategories()">
          <i c8yicon="reset" class="m-r-4 dlt-c8y-icon-reset"></i> Reset
        </button>
        <button class="btn btn-primary" (click)="onSaveProductCategories()" [disabled]="productCategoryList.invalid">
          <i c8yicon="save" class="m-r-4 dlt-c8y-icon-save"></i> Save
        </button>
        <button class="btn btn-primary" (click)="onAddProductCategory()"
          [disabled]="productCategoryList.value.length >= 7">
          <i c8yicon="plus-circle" class="m-r-4 dlt-c8y-icon-plus-circle"></i>
          Add Category
        </button>
      </div>

    </div>
    <div class="alert alert-info alert-info-custom" role="alert" *ngIf="productCategoryList.value.length >= 7">
      You can add a maximum of 3 custom product categories.
    </div>
  </div>
  <div class="col-md-6 col-sm-12 col-xs-12">
    <div class="card">
      <div class="card-header separator">
        <h4 class="card-title">Microservice Categorization</h4>
      </div>
      <div class="card-body micro" style="max-height: 75vh;overflow: auto;">
        <ul class="list-group" formArrayName="microserviceCategoryList">
          <ng-container *ngFor="
              let microserviceForm of microserviceCategoryList.controls;
              let index = index
            ">
            <li class="list-group-item" [formGroup]="microserviceForm">
              <div class="form-inline">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Microservice Name"
                    formControlName="microserviceName" [size]="getInputFieldSize()" />
                  <c8y-messages *ngIf="
                      microserviceForm.controls.microserviceName.touched &&
                      microserviceForm.controls.microserviceName.invalid &&
                      microserviceForm.controls.microserviceName.errors
                    ">
                    <c8y-message>{{
                      getErrorMessage(
                      microserviceForm.controls.microserviceName.errors
                      ) | translate
                      }}</c8y-message>
                  </c8y-messages>
                </div>
                <div class="form-group">
                  <div class="c8y-select-wrapper">
                    <select class="form-control" formControlName="productCategory">
                      <ng-container *ngFor="let category of productCategoryNames">
                        <option [value]="category">{{ category }}</option>
                      </ng-container>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <i c8yicon="minus-circle" class="m-l-4 dlt-c8y-icon-minus-circle text-danger pointer"
                    (click)="onRemoveMicroservice(index)"></i>
                </div>
              </div>
            </li>
          </ng-container>
        </ul>
      </div>

      <div class="card-footer separator mob">
        <button class="btn btn-default" (click)="onCancelMicroservice()">
          <i c8yicon="close" class="m-r-4 dlt-c8y-icon-close"></i> Cancel
        </button>
        <button class="btn btn-primary" (click)="onResetMicroservice()">
          <i c8yicon="reset" class="m-r-4 dlt-c8y-icon-reset"></i> Reset
        </button>
        <button class="btn btn-primary" (click)="onSaveMicroservice()" [disabled]="microserviceCategoryList.invalid">
          <i c8yicon="save" class="m-r-4 dlt-c8y-icon-save"></i> Save
        </button>
        <button class="btn btn-primary" (click)="onAddMicroservice()">
          <i c8yicon="plus-circle" class="m-r-4 dlt-c8y-icon-plus-circle"></i>
          Add Microservice
        </button>
      </div>
    </div>
  </div>
</div>