.prod-cat-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.prod-cat-cont-item {
    display: flex;
    gap: 8px;
    align-items: center;
}

.prod-cancel {
    transform: translateY(8%);
}

.pointer{
    cursor: pointer;
}
.hide-item{
    visibility: hidden;
}

.alert-info-custom{
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
}

.sticky-card-bottom{
    position: sticky;
    bottom: -20.27px;
    background-color: white;
    z-index: 10;
}

@media only screen and (min-width: 1200px ) {
    .fixed{
        position: fixed;
    }    
}

@media only screen and (max-width: 600px) {
    .mob{
        display: flex;
        gap: 10px
    }
    .btn{
        margin-left: 0 !important;
        display: block;
        width: 100%
    }
}