<c8y-title>
    {{ "Microservice Data" | translate }}
  </c8y-title>
  
  <statistics-action-bar [feature]="feature"></statistics-action-bar>
  <ng-container>
    <div class="container-fluid">
      <table class="table">
        <!-- <colgroup>
          <col width="20px">
          <col width="50%">
        </colgroup> -->
        <thead>
          <tr>
            <th>Total avg Memory</th>
            <th>Total avg CPU</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td >{{avgMEM}}</td>
            <td >{{avgCPU}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    
    </ng-container>
  <div class="content-fullpage d-flex d-col shadow1">
      <c8y-data-grid
      [loadMoreItemsLabel]="loadMoreItemsLabel"
      [loadingItemsLabel]="loadingItemsLabel"
      [columns]="columns"
      [rows]="microserviceData"
      [pagination]="pagination"
      [infiniteScroll]="infiniteScroll"
      [actionControls]="actionControls"
      [showSearch]="showSearch"
      class="d-contents"
    >
      <div class="c8y-empty-state" *ngIf="isLoading">
        <h1 c8yIcon="search"></h1>
        <div>
          <p>
            <strong *ngIf="isLoading" translate>{{loadingItemsLabel}} </strong>
          </p>
        </div>
      </div>
      <div class="c8y-empty-state" *ngIf="!isLoading && !(microserviceData && microserviceData.length > 0)">
        <h1 c8yIcon="search"></h1>
        <div>
          <p>
            <strong>{{ "Microservice details are not available." | translate }}</strong>
          </p>
        </div>
      </div>
      <ng-container *ngFor="let column of columns">
        <c8y-column [name]="column.name"></c8y-column>
      </ng-container>
    </c8y-data-grid>
  </div>