<c8y-title>
  {{ "Tenant Aggregation" | translate }}
</c8y-title>

<statistics-action-bar [feature]="feature"></statistics-action-bar>

<div class="row" *ngIf="tenantAggregation">
  <div class="col-xs-12 col-sm-6">
    <div class="card">
      <div class="card-body" style="padding: 8.18px;">
        <table class="table">
          <thead>
            <tr>
              <th>{{'Property' | translate}}</th>
              <th>{{'Value' | translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td >{{'Total MEAs' | translate}}</td>
              <td>{{tenantAggregation.meas| number }}</td>
            </tr>
            <tr>
              <td >{{'Storage Size GiB' | translate}}</td>
              <td>{{tenantAggregation.storageHumanReadable}}</td>
            </tr>
            <!-- <tr>
              <td >{{'Storage Size' | translate}}</td>
              <td>{{tenantAggregation.storageSize}}</td>
            </tr> -->
            <tr>
              <td>{{'Devices' | translate}} <span class="text-light" style="font-size: smaller; font-style: italic;">(c8y_IsDevice)</span></td>
              <td>{{tenantAggregation.deviceCount| number}}</td>
            </tr>
            <tr>
              <td>{{'Device Endpoints' | translate}}</td>
              <td>{{tenantAggregation.deviceEndpointCount| number}}</td>
            </tr>
            <tr>
              <td>{{'Devices With Children' | translate}}</td>
              <td>{{tenantAggregation.deviceWithChildrenCount| number}}</td>
            </tr>
            <tr>
              <td>{{'Total Requests' | translate}}</td>
              <td>{{tenantAggregation.requestCount| number}}</td>
            </tr>
            <tr>
              <td >{{'Device Requests' | translate}}</td>
              <td>{{tenantAggregation.deviceRequestCount| number}}</td>
            </tr>
            <tr >
              <td>{{'Total Resources Created & Updated' | translate}}</td>
              <td>{{tenantAggregation.totalResourceCreateAndUpdateCount| number}}</td>
            </tr>
            <tr>
              <td >{{'Inventories Created' | translate}}</td>
              <td>{{tenantAggregation.inventoriesCreatedCount| number}}</td>
            </tr>
            <tr>
              <td >{{'Inventories Updated' | translate}}</td>
              <td>{{tenantAggregation.inventoriesUpdatedCount| number}}</td>
            </tr>
            <tr>
              <td >{{'Events Created' | translate}}</td>
              <td>{{tenantAggregation.eventsCreatedCount| number}}</td>
            </tr>
            <tr>
              <td >{{'Events Updated' | translate}}</td>
              <td>{{tenantAggregation.eventsUpdatedCount| number}}</td>
            </tr>
            <tr>
              <td >{{'Alarms Created' | translate}}</td>
              <td>{{tenantAggregation.alarmsCreatedCount| number}}</td>
            </tr>
            <tr>
              <td >{{'Alarms Updated' | translate}}</td>
              <td>{{tenantAggregation.alarmsUpdatedCount| number}}</td>
            </tr>
            <tr>
              <td >{{'Measurements Created' | translate}}</td>
              <td>{{tenantAggregation.measurementsCreatedCount| number}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div *ngIf="showAlert">
  <div class="alert alert-info" role="alert">
    {{'No usage data is available for the selected month' | translate}}
  </div>
</div>