<c8y-title>{{'Device Aggregation' | translate}}</c8y-title>
<statistics-action-bar [feature]="feature"></statistics-action-bar>

<ng-container>
<div class="container-fluid">
  <table class="table">
    <!-- <colgroup>
      <col width="20px">
      <col width="50%">
    </colgroup> -->
    <thead>
      <tr>
        <th>Total Meas</th>
        <th>Total Devices</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td >{{totalMeas}}</td>
        <td >{{totalDeviceCount}}</td>
      </tr>
    </tbody>
  </table>

</div>
deviceData {{deviceData?.totalMeas}}
</ng-container>
    <c8y-data-grid
    [title]="title"
    [columns]="columns"
    [rows]="deviceData"
    [actionControls]="[]"
    [pagination]="pagination"
    class="d-contents">
</c8y-data-grid>

