.btn-container {
  position: absolute;
  width: fit-content;
  right: 16px;
  top: 16px;
}

.btn-active {
  background-color: #1c8ce3;
  color: #ffffff;
}

.base-layout {
  width: 70%;
  margin: auto;
}

.text-mobile {
  text-anchor: end;
  transform: rotate(-45deg);
}

.hide-item{
  visibility: hidden;
}

@media only screen and (max-width: 600px) {
  .base-layout {
    width: 100%;
  }
}
