<c8y-title>{{ "Category Overview" | translate }}</c8y-title>
<statistics-action-bar [feature]="feature"></statistics-action-bar>
<div style="text-align: center">
  <c8y-loading *ngIf="isLoading"></c8y-loading>
</div>

<div class="card card--fullpage" [class.hide-item]="isLoading">
  <div class="card-body card-block" style="height: 75vh; width: 100%">
    <div class="chart-area-category base-layout"></div>
    <div *ngIf="showAlert">
      <div class="alert alert-info" role="alert">
        {{'No usage data is available for the selected month' | translate}}
      </div>
    </div>
  </div>
  <div class="btn-container">
    <div class="btn-group btn-group-justified" role="group">
      <div class="btn-group" role="group" (click)="changeUnit(VIEW_CATEGORY.MEMORY_CPU)">
        <button type="button" class="btn btn-default" [class.btn-active]="viewCategory === VIEW_CATEGORY.MEMORY_CPU">
          {{ "Memory/CPU" | translate }}
        </button>
      </div>
      <div class="btn-group" role="group" (click)="changeUnit(VIEW_CATEGORY.COUNT)">
        <button type="button" class="btn btn-default" [class.btn-active]="viewCategory === VIEW_CATEGORY.COUNT">
          {{ "Count" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>