.chart-area-service-cpu,
.chart-area-service-memory {
  height: calc(37.5vh - 40px);
}

.btn-container {
  position: absolute;
  width: fit-content;
  right: 16px;
  top: 16px;
}

.btn-active {
  background-color: #1c8ce3;
  color: #ffffff;
}

.prod-cat {
  width: fit-content;
  margin-bottom: 0px;
  min-height: 48px;
  display: flex;
  align-items: center;
}

.base-layout {
  height: 75vh;
  width: 100%;
}

.hide-item {
  visibility: hidden;
}

.table-footer {
  position: sticky;
  bottom: -16.16px;
  background-color: white;
}


@media only screen and (max-width: 600px) {
  .base-layout {
    height: auto;
    width: 100%;
  }
}