<c8y-title>{{ "Services Overview" | translate }}</c8y-title>
<div style="text-align: center">
  <c8y-loading *ngIf="isLoading"></c8y-loading>
</div>

<div [formGroup]="form" *ngIf="productCategoryNames">
  <statistics-action-bar [feature]="feature">
    <div class="form-group prod-cat">
      <div class="c8y-select-wrapper" *ngIf="productCategoryNames?.length">
        <select class="form-control" formControlName="productCategory">
          <ng-container *ngFor="let category of productCategoryNames">
            <option [value]="category">{{ category }}</option>
          </ng-container>
        </select>
      </div>
    </div>
  </statistics-action-bar>
</div>
<div class="card card--fullpage" [class.hide-item]="isLoading">
  <div *ngIf="showAlert">
    <div class="alert alert-info" role="alert">
      {{'No usage data is available for the selected month' | translate}}
    </div>
  </div>
  <div class="card-body card-block service-block base-layout" style="overflow: auto;">
    <div *ngIf="chartData?.length === 0">
      <div class="alert alert-info" role="alert">
        {{'No Microservices are available for this product category' | translate}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12 col-xs-12" style="transform: translateY(-5%); position: sticky; top: 0px">
        <div class="row">
          <div class="col-xs-12">
            <div class="chart-area-service-cpu" style="width: 70%; margin: auto"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="chart-area-service-memory" style="width: 70%; margin: auto"></div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12">
        <table class="table table-hover" *ngIf="chartData?.length > 0">
          <thead>
            <tr>
              <th>{{COLUMN_FIELDS.MICROSERVICE}}</th>
              <th>{{COLUMN_FIELDS.MEMORY_AVG}}</th>
              <th>{{COLUMN_FIELDS.CPU_AVG}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of chartData; let index = index" (mouseenter)="highlightChartArea(index)"
              (mouseleave)="removeHighlightedChartArea(index)">
              <td>{{ data.microserviceName }}</td>
              <td>{{ data.avgMemory }}</td>
              <td>{{ data.avgCpu }}</td>
            </tr>
          </tbody>
          <tfoot class="table-footer">
            <tr>
              <th>{{'Total' | translate}}</th>              
              <th>{{getTotalAvgCpuOrMemory(VIEW_CATEGORY.MEMORY)}}</th>
              <th>{{getTotalAvgCpuOrMemory(VIEW_CATEGORY.CPU)}}</th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>